header {
    text-align: center;
}
body {
    background: #DCDCDD;
    margin: 30px;
}
footer {
    text-align: center;
}
ul { /*adding bottom border to address book list*/
    border-bottom: 2px solid #515751;
    padding-bottom: 5px;
    vertical-align: center;
}
h1.headspace { /*Header setup*/
    text-align: center;
}
.myRow, .myCol { /*set up text in the tables*/
    text-align: center;
    vertical-align: center;
}
.updateInfo, .history, .MApreferences, .newcontact { /*text setup*/
    text-align: center;
}
.myOptions { /*text setup for My Account options*/
    font-size: 18pt;
    text-align: center;
}
.spacer { /*setup for text in New Contact Info Table*/
    margin: 2px;
}
.headofpage {
    text-align: center;
}
.addtobook {
    text-align: center;
}

