header {
    text-align: center;
    
}

footer {
    text-align: center;
}
ul { /*adding bottom border to address book list*/
    border-bottom: 2px solid #515751;
    padding-bottom: 5px;
    vertical-align: center;
}
.myRow, .myCol { /*set up text in the tables*/
    text-align: left;
    vertical-align: center;
}
.myContainer {
	text-align:left;
}
.myOptions { /*text setup for My Account options*/
    font-size: 16pt;
    text-align: center;
}
.spacer { /*setup for text in New Contact Info Table*/
    margin: 2px;
}
 h3 {
 	text-align: center;
 }
 
 