.myOptions {
	text-align: center;
}

.faq-table button, .faqbutton {
/* 	adding color to buttons and adjusting font of ?s */
	background-color: #30BDF4;
	color: #ffffff;
	border-radius: 4px;
	font-size: 18pt;
	font-weight: 700;
}
