body {
    background-color: #F5F9E9;
    color: #36453B;
}
#preferences {
    color: #515751;
}

#personal {
    color: #515751;
}

#History {
    color:#515751;
}
h1.orderpage {
    border: #36453B solid 1.5px;
    border-radius: 6px;
    padding: 3px;
    word-spacing: 10px;
    position: center;
    color: #36453B;
    text-transform: uppercase;
    letter-spacing: .2em;
    align: center;
    vertical-align: center;
}

select {
    background-color: white;
    color: #36453B;
}
p.histories {
    color: #515751;
    position: relative;
    border-color: #36453B;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
}

p.display {
    color: #515751;
    position: relative;
    border: #36453B 2px solid;;
    border-radius: 5px;
    padding: 5px;
}