body {
    background:#ffffff;
    color: #53565C;
    width: 1000px;
    position: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    border: #30BDF4 solid 2px;
    padding: 5px;
    text-align:center;
    margin: 5px;
}

a {
    text-decoration: none;
}

.btn-outline-success {
	color: #30BDF4;
	border-color: #30BDF4;
}

.btn-outline-success:hover {
	color: #ffffff;
	background-color: #30BDF4;
	border-color: #30BDF4;
}

nav {
	padding:10px;
}