body {
    background: #DCDCDD;
    color: #114B5F;
}

header {
    border-bottom: #36453B solid 2px;
    padding: 5px;
    border-: #d0e0dc;
}

.footnotes {
    margin: auto;
    width: 40%;
    text-align: center;
}

footer.contactFoot {
    margin: auto;
    width: 35%;
    text-align: center;
}

a {
    text-decoration: none;
}