fieldset {
    margin: auto;
    width: 40%;
    text-align: center;
}

select { /*preferences on My Account Page*/
    background-color: white;
    color: #36453B;
}

input {
    padding: 2px;
    border: 1px solid #515751;
    color: #515751;
    border-radius: 7%;
}

p.MAhistories {
    color: #515751;
    position: relative;
    padding: 5px;
}

h1.orderpage, .accountpage {
    padding: 15px;
    word-spacing: 10px;
    position: center;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin: 10px;
    width: auto;
    text-align: center;
}

div.footlike {
    margin: 40%;
    width: auto;
    text-align: center;
    color: #36453B;
}

.MApreferences {
    color: #515751;
    /*float: right;*/
    /*width: 25%;*/
    /*padding: 5px;*/
}

.box {
    padding: 5px;
}

.newcontact {
    margin: auto;
    width: 50%;
    text-align: center;
}

.spacer {
    margin: 1px;
}

.table {
    text-align: left;
    border: 1px solid #36453B;
    column-gap: 50px;
    padding: 10px;
}
